---
layout: default
menu: home
---
<section class="jumbotron">
    <div class="container">
        <h1>Yummy Theme</h1>
        <div id="jumbotron-meta-info">
            <span class="meta-info">
                <span class="octicon octicon-location"></span>
                {{ site.location }}
            </span>
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span>
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@{{ site.name }}</a>
            </span>
        </div>
    </div>
</section>
<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">
            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination text-align">
        <div class="btn-group">

            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/" class="btn btn-outline">&laquo;</a>
            {% else %}
            <a href="/page{{paginator.previous_page}}" class="btn btn-outline">&laquo;</a>
            {% endif %}
            {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
            {% endif %}

            {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
            {% else %}
            <a href="/" class="btn btn-outline">1</a>
            {% endif %}

            {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <a href="javascript:;" class="active btn btn-outline">{{count}}</a>
            {% else %}
            <a href="/page{{count}}" class="btn btn-outline">{{count}}</a>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}" class="btn btn-outline">&raquo;</a>
            {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
            {% endif %}

        </div>
    </div>

</section>

