<section class="jumbotron" geo-pattern="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                {% endif %}
            </span>
        </div>
    </div>
</section>
<script type="text/javascript">
    var geoPattern = $(".jumbotron").attr("geo-pattern");
    $(".jumbotron").css("background-image", "url(data:image/svg+xml;base64,{% base64_geo_pattern text="+ geoPattern +" %}");
</script>