<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% endif %}
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                {% endif %}
            </span>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>