.post-directory {
    font-size: 14px;
    background: #fff;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.post-directory dt, dd{
    border-left: 5px solid #666;
    cursor: pointer;
    padding: 2px 5px 2px 15px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.post-directory a{
    text-decoration: none;
}

.post-directory dt:hover, dd:hover {
    background: #333;
    border-left: 5px solid #000;
}

.post-directory dt:hover a, dd:hover a {
    font-weight: bold;
    color: #fff;
}

.col-md-4 {
    position: static; /* fix strange behavior */
}